@import './base.css';

nav {
  display: flex;
  justify-content: center;
}
.sozial-links{
  position: absolute;
  right: 5%;
}
.logo{
  width: 250px;
  padding: 25px 25px;
}
.header-link{
  margin: 1em;
}
.socials {
  position: relative;
  top: 2em;
}
.Main-info{
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  font-size: 20px;
}
a:focus {
  text-decoration: none;
  color: #37d0ff;
  transition: 0.4s;
  font-size: 20px;
}

@media (hover: hover) {
 
}
.slider{
  background-image: url("../assets/svg/bg1.png");
  background-position: 30% 40%;
  background-size: 120em;

  height: 40em;
  width: 100%;
 
}
.skills_box{
  width: 250px;
  border-radius: 20px;
  border: solid 1px black;
  text-align: center;
  height: 250px;
  margin: 20px;
  box-shadow: rgba(158, 158, 158, 0.07) 0px 1px 2px, rgba(158, 158, 158, 0.07) 0px 2px 4px, rgba(158, 158, 158, 0.07) 0px 4px 8px, rgba(158, 158, 158, 0.07) 0px 8px 16px, rgba(158, 158, 158, 0.07) 0px 16px 32px, rgba(158, 158, 158, 0.07) 0px 32px 64px;
}
.sort_skill_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;

}
.skill_box_text {
  padding: 35px 20px;
  width: 250px;
}
.skill_box_label{
  padding: 20px 20px;
}
.ico{
  width: 50px;

}
/* nerd Kopf */
.nerd {
  max-width: 230px;
  width: 50%;
  filter:drop-shadow(5px 5px #37d0ff);
  position: relative;
  right: calc(2em);
}
.nerd-place {
  position: fixed;
  bottom: 4%;
  right: 0;
}



.speech-bubble {
  position: relative;
  padding: 52px 0;
  margin: 1em auto 25px;
  background: -webkit-linear-gradient(left, #848cc8, #362dbb);
  background: -o-linear-gradient(right, #84c8c0, #6490c2);
  background: -moz-linear-gradient(right, #84c8c0, #6490c2);
  background: linear-gradient(to right, #7b80b3, #2321b5);
  text-align: center;
  color: #fff;
  -webkit-border-top-left-radius: 140px 140px;
  -webkit-border-top-right-radius: 140px 140px;
  -webkit-border-bottom-right-radius: 140px 140px;
  -webkit-border-bottom-left-radius: 140px 140px;
  -moz-border-radius: 140px / 140px;
  border-radius: 140px / 140px;
  left: -10em;
  width: 20em;
}
  
  .speech-bubble:before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -40px;
  right: 100px;
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(left, #84c8c0, #6490c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #84c8c0, #6490c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #84c8c0, #6490c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #84c8c0, #6490c2); /* Standard syntax */
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: block;
  }
  
  .speech-bubble:after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -60px;
  right: 50px;
  width: 25px;
  height: 25px;
  background: -webkit-linear-gradient(left, #84c8c0, #6490c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #84c8c0, #6490c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #84c8c0, #6490c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #84c8c0, #6490c2); /* Standard syntax */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
  }
  
  .box {
      overflow: hidden;
  }
  
  .marquee-one {
    animation: marquee-one 5s linear infinite; 
    -webkit-animation: marquee-one 15s linear infinite;
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
  }
  
  @-webkit-keyframes marquee-one {
      0%   { text-indent: 18em }
      100% { text-indent: -20em }
  }
  .pos-ico{
    width: 25px;
   
  }
  /* @media screen and (max-width:800px) {
    
    .nerd,.speech-bubble {
      display: none;
    }
   
  } */

  .sorry{
    display: none;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    border-radius: 20px;
    position: absolute;
    right: 9em;
  }
  #bubble{
    position: absolute;
    right: 2em;
    bottom: 10em;
    display: none;
    color: white;
    width: 250px;
    text-align: center;
  }
/* nerd Kopf */
.main-card{
  border: solid 1px black;
  width: calc(500px);
  border-radius: 20px;
  margin: 2em auto;
  backdrop-filter: blur(50px);
  
  box-shadow: rgba(158, 158, 158, 0.07) 0px 1px 2px, rgba(158, 158, 158, 0.07) 0px 2px 4px, rgba(158, 158, 158, 0.07) 0px 4px 8px, rgba(158, 158, 158, 0.07) 0px 8px 16px, rgba(158, 158, 158, 0.07) 0px 16px 32px, rgba(158, 158, 158, 0.07) 0px 32px 64px;

}
.pb-box{
 
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin: 5% auto;
}
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////Logo////////////////////////// */

.button {
  margin: 1em 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37d0ff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
/* ////////////////////////////////Logo////////////////////////// */
